<footer id="bottom">
  <x-c>
    <x-row>
      <x-col size="6">
        <h2>Let's build something <u>magical</u>.</h2>
      </x-col>
      <x-col size="6" align="right">
        <!--<strong>Intersted in working with me?</strong>-->
        <a href="#" class="clicky">Get in Touch!</a>
        <br>
      </x-col>
    </x-row>
  </x-c>
</footer>
<footer id="classic">
  <x-c>
    <a onclick="$('html, body').animate({ scrollTop: 0 }, 'slow');" class="clicky right">Back to Top <i class="icon-tardis"></i></a>
    <p>
      <i class="icon-cc"></i> <i class="icon-cc-remix"></i>  2015 Victor Lourng. Crafted with <i class="icon-heart" title="love"></i> in Philadelphia.
      <br>
      About This Site: Technologies - Credits - Privacy Policy - 2014 Website - Say Hello
    </p>
  </x-c>
</footer>