<!-- <nav id="mane">
  <x-c>
    <x-man><menu class="left">
      <li>
        <a href="#/">
          <strong>Victor Lourng</strong>
        </a>
      </li>
      <li>
        <a href="#/">
          Home
        </a>
      </li><li>
        <a href="#/about">
          About
        </a>
      </li><li>
        <a href="#/projects">
          Projects
        </a>
      </li><li>
        <a href="#/contact">
          Contact
        </a>
      </li>
    </menu></x-man><menu class="right">
      <li class="twitter">
        <a href="http://twitter.com/lablayers" target="_blank">
          <i class="icon-twitter"></i>
        </a>
      </li><li class="github">
        <a href="http://github.com/lablayers" target="_blank">
          <i class="icon-github"></i>
        </a>
      </li><li class="dribbble">
        <a href="http://dribbble.com/lablayers" target="_blank">
          <i class="icon-dribbble"></i>
        </a>
      </li>
    </menu>
  </x-c>
</nav> -->

<nav id="neue">
    <menu class="navigation">
      <li class="brand">
        <a href="#/">
          <i class="icon-face-unlock"></i> <x-man>Victor Lourng <sup>ALPHA</sup></x-man>
        </a>
      </li><li class="tilde">
        /
      </li><li class="active">
        <a href="#/home">
          <span>Howdy!</span>
        </a>
      </li><li>
        <a href="#/home">
          <span>Projects</span>
        </a>
      </li><li>
        <a href="#/home">
          <span>Skills</span>
        </a>
      </li><li>
        <a href="#/home">
          <span>Say Hello</span>
        </a>
      </li><li>
        <a href="http://victorlourng.com/">
          <span>2014 Website</span>
        </a>
      </li>
    </menu>
    <menu class="right">
      <li>
      <a href="#/contact">
        Let's connect:
      </a>
      </li>
      <li class="twitter">
        <a href="http://twitter.com/lablayers" target="_blank">
          <i class="icon-twitter"></i>
        </a>
      </li><li class="github">
        <a href="http://github.com/lablayers" target="_blank">
          <i class="icon-github"></i>
        </a>
      </li><li class="dribbble">
        <a href="http://dribbble.com/lablayers" target="_blank">
          <i class="icon-dribbble"></i>
        </a>
      </li>
    </menu>
</nav>